{
  "openapi": "3.0.0",
  "info": {
    "title": "cheqd Studio API for cheqd network",
    "version": "2.0.0",
    "description": "REST API service for creating and managing Decentralized Identfiers (DIDs), DID-Linked Resources (DLRs), Trust Registries, Status Lists and Verifiable Credentials.",
    "contact": {
      "name": "cheqd",
      "url": "https://github.com/cheqd/studio",
      "email": "support-github@cheqd.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://github.com/cheqd/studio/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://studio-api.cheqd.net",
      "description": "Main (production) server"
    },
    {
      "url": "https://studio-api-staging.cheqd.net",
      "description": "Staging server for testing"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local server for testing"
    }
  ],
  "tags": [
    {
      "name": "Account"
    },
    {
      "name": "Keys"
    },
    {
      "name": "Decentralized Identifiers (DIDs)"
    },
    {
      "name": "DID-Linked Resources (DLRs)"
    },
    {
      "name": "Trust Registries"
    },
    {
      "name": "Verifiable Credentials"
    },
    {
      "name": "Status Lists"
    },
    {
      "name": "Verifiable Presentations"
    }
  ],
  "externalDocs": {
    "description": "cheqd Studio API Documentation",
    "url": "https://docs.cheqd.io/product"
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/account": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Fetch custodian-mode client details.",
        "description": "This endpoint returns the custodian-mode client details for authenticated users.",
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/schemas/InternalError"
          }
        }
      }
    },
    "/account/idtoken": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Fetch IdToken.",
        "description": "This endpoint returns IdToken as JWT with list of user roles inside",
        "deprecated": true,
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryIdTokenResponseBody"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/schemas/InternalError"
          }
        }
      }
    },
    "/account/create": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Create an client for an authenticated user.",
        "description": "This endpoint creates a client in the custodian-mode for an authenticated user",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AccountCreateRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountCreateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/schemas/InternalError"
          }
        }
      }
    },
    "/trust-registry/accreditation/issue": {
      "post": {
        "tags": [
          "Trust Registries"
        ],
        "summary": "Publish a verifiable accreditation for a DID.",
        "description": "Generate and publish a Verifiable Accreditation for a subject DID as a DID Linked resource.",
        "operationId": "accredit-issue",
        "parameters": [
          {
            "in": "query",
            "name": "accreditationType",
            "description": "Select the type of accreditation to be issued.",
            "schema": {
              "type": "string",
              "enum": [
                "authorize",
                "accredit",
                "attest"
              ]
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AccreditationIssueRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccreditationIssueRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Credential"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/schemas/InternalError"
          }
        }
      }
    },
    "/trust-registry/accreditation/verify": {
      "post": {
        "tags": [
          "Trust Registries"
        ],
        "summary": "Verify a verifiable accreditation for a DID.",
        "description": "Generate and publish a Verifiable Accreditation for a subject DID as a DID Linked resource.",
        "operationId": "accredit-verify",
        "parameters": [
          {
            "in": "query",
            "name": "verifyStatus",
            "description": "If set to `true` the verification will also check the status of the accreditation. Requires the VC to have a `credentialStatus` property.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "allowDeactivatedDid",
            "description": "If set to `true` allow to verify accreditation which based on deactivated DID.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AccreditationVerifyRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccreditationVerifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Credential"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/schemas/InternalError"
          }
        }
      }
    },
    "/trust-registry/accreditation/revoke": {
      "post": {
        "tags": [
          "Trust Registries"
        ],
        "summary": "Revoke a Verifiable Accreditation.",
        "description": "This endpoint revokes a given Verifiable Accreditation. As input, it can take the didUrl as a string. The StatusList2021 or BitstringStatusList resource should already be setup in the VC and `credentialStatus` property present in the VC.",
        "operationId": "accredit-revoke",
        "parameters": [
          {
            "in": "query",
            "name": "publish",
            "description": "Set whether the StatusList2021 or BitstringStatusList resource should be published to the ledger or not. If set to `false`, the StatusList2021 or BitstringStatusList publisher should manually publish the resource.",
            "required": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AccreditationRevokeRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccreditationRevokeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevocationResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/schemas/InternalError"
          }
        }
      }
    },
    "/trust-registry/accreditation/suspend": {
      "post": {
        "tags": [
          "Trust Registries"
        ],
        "summary": "Suspend a Verifiable Accreditation.",
        "description": "This endpoint suspends a given Verifiable Accreditation. As input, it can take the didUrl as a string. The StatusList2021 or BitstringStatusList resource should already be setup in the VC and `credentialStatus` property present in the VC.",
        "operationId": "accredit-suspend",
        "parameters": [
          {
            "in": "query",
            "name": "publish",
            "description": "Set whether the StatusList2021 or BitstringStatusList resource should be published to the ledger or not. If set to `false`, the StatusList2021 or BitstringStatusList publisher should manually publish the resource.",
            "required": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AccreditationRevokeRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccreditationRevokeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevocationResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/schemas/InternalError"
          }
        }
      }
    },
    "/trust-registry/accreditation/reinstate": {
      "post": {
        "tags": [
          "Trust Registries"
        ],
        "summary": "Reinstate a Verifiable Accreditation.",
        "description": "This endpoint reinstates a given Verifiable Accreditation. As input, it can take the didUrl as a string. The StatusList2021 or BitstringStatusList resource should already be setup in the VC and `credentialStatus` property present in the VC.",
        "operationId": "accredit-reinstate",
        "parameters": [
          {
            "in": "query",
            "name": "publish",
            "description": "Set whether the StatusList2021 or BitstringStatusList resource should be published to the ledger or not. If set to `false`, the StatusList2021 or BitstringStatusList publisher should manually publish the resource.",
            "required": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AccreditationRevokeRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccreditationRevokeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevocationResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/schemas/InternalError"
          }
        }
      }
    },
    "/trust-registry/accreditation/list": {
      "get": {
        "tags": [
          "Trust Registries"
        ],
        "summary": "Fetch Verifiable Accreditations for DIDs associated with an account.",
        "description": "This endpoint returns the list of Verifiable Accreditations created by the account.",
        "parameters": [
          {
            "in": "query",
            "name": "network",
            "description": "Filter Accreditations by the network published.",
            "schema": {
              "type": "string",
              "enum": [
                "mainnet",
                "testnet"
              ]
            },
            "required": false
          },
          {
            "in": "query",
            "name": "accreditationType",
            "description": "Select the type of accreditation to be issued.",
            "schema": {
              "type": "string",
              "enum": [
                "authorize",
                "accredit",
                "attest"
              ]
            },
            "required": true
          },
          {
            "in": "query",
            "name": "did",
            "description": "Filter accreditations published by a DID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccreditationResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/schemas/InternalError"
          }
        }
      }
    },
    "/credential-status/create/unencrypted": {
      "post": {
        "tags": [
          "Status Lists"
        ],
        "summary": "Create an unencrypted StatusList2021 or BitstringStatusList credential status list.",
        "description": "This endpoint creates an unencrypted StatusList2021 or BitstringStatusList credential status list. The StatusList is published as a DID-Linked Resource on ledger. As input, it can can take input parameters needed to create the status list via a form, or a pre-assembled status list in JSON format. Status lists can be created as either encrypted or unencrypted.",
        "parameters": [
          {
            "in": "query",
            "name": "listType",
            "description": "The type of Status List.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "StatusList2021",
                "BitstringStatusList"
              ]
            }
          },
          {
            "in": "query",
            "name": "statusPurpose",
            "description": "The purpose of the status list.\n- For StatusList2021: Single value (revocation or suspension)\n- For BitstringStatusList: Can accept multiple values as array of strings\n\nOnce this is set, it cannot be changed. A new status list must be created to change the purpose.\n",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "enum": [
                    "revocation",
                    "suspension"
                  ]
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "revocation",
                      "suspension",
                      "message",
                      "refresh"
                    ]
                  }
                }
              ]
            },
            "examples": {
              "single_value": {
                "summary": "Single purpose (StatusList2021)",
                "value": "revocation"
              },
              "multiple_values_array": {
                "summary": "Multiple purposes as array (BitstringStatusList)",
                "value": [
                  "revocation",
                  "suspension",
                  "message"
                ]
              },
              "with_message": {
                "summary": "Including message purpose",
                "value": [
                  "revocation",
                  "message"
                ]
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CredentialStatusCreateUnencryptedRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CredentialStatusCreateUnencryptedRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialStatusCreateUnencryptedResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/schemas/InternalError"
          }
        }
      }
    },
    "/credential-status/create/encrypted": {
      "post": {
        "tags": [
          "Status Lists"
        ],
        "summary": "Create an encrypted StatusList2021 or BitstringStatusList credential status list.",
        "description": "This endpoint creates an encrypted StatusList2021 or BitstringStatusList credential status list. The StatusList is published as a DID-Linked Resource on ledger. As input, it can can take input parameters needed to create the status list via a form, or a pre-assembled status list in JSON format. Status lists can be created as either encrypted or unencrypted.",
        "parameters": [
          {
            "in": "query",
            "name": "listType",
            "description": "The type of Status List.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "StatusList2021",
                "BitstringStatusList"
              ]
            }
          },
          {
            "in": "query",
            "name": "statusPurpose",
            "description": "The purpose of the status list.\n- For StatusList2021: Single value (revocation or suspension)\n- For BitstringStatusList: Can accept multiple values as array of strings\n\nOnce this is set, it cannot be changed. A new status list must be created to change the purpose.\n",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "enum": [
                    "revocation",
                    "suspension"
                  ]
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "revocation",
                      "suspension",
                      "message",
                      "refresh"
                    ]
                  }
                }
              ]
            },
            "examples": {
              "single_value": {
                "summary": "Single purpose (StatusList2021)",
                "value": "revocation"
              },
              "multiple_values_array": {
                "summary": "Multiple purposes as array (BitstringStatusList)",
                "value": [
                  "revocation",
                  "suspension",
                  "message"
                ]
              },
              "with_message": {
                "summary": "Including message purpose",
                "value": [
                  "revocation",
                  "message"
                ]
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CredentialStatusCreateEncryptedFormRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CredentialStatusCreateEncryptedJsonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialStatusCreateEncryptedResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/schemas/InternalError"
          }
        }
      }
    },
    "/credential-status/update/unencrypted": {
      "post": {
        "tags": [
          "Status Lists"
        ],
        "summary": "Update an existing unencrypted StatusList2021 or BitstringStatusList credential status list.",
        "parameters": [
          {
            "in": "query",
            "name": "listType",
            "description": "The type of Status List.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "StatusList2021",
                "BitstringStatusList"
              ]
            }
          },
          {
            "in": "query",
            "name": "statusAction",
            "description": "The update action to be performed on the unencrypted status list, can be revoke, suspend or reinstate",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "revoke",
                "suspend",
                "reinstate"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CredentialStatusUpdateUnencryptedRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CredentialStatusUpdateUnencryptedRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialStatusUpdateUnencryptedResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/schemas/InternalError"
          }
        }
      }
    },
    "/credential-status/update/encrypted": {
      "post": {
        "tags": [
          "Status Lists"
        ],
        "summary": "Update an existing encrypted StatusList2021 or BitstringStatusList credential status list.",
        "parameters": [
          {
            "in": "query",
            "name": "listType",
            "description": "The type of Status List.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "StatusList2021",
                "BitstringStatusList"
              ]
            }
          },
          {
            "in": "query",
            "name": "statusAction",
            "description": "The update action to be performed on the encrypted status list, can be revoke, suspend or reinstate",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "revoke",
                "suspend",
                "reinstate"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CredentialStatusUpdateEncryptedFormRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CredentialStatusUpdateEncryptedJsonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialStatusUpdateEncryptedResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/schemas/InternalError"
          }
        }
      }
    },
    "/credential-status/check": {
      "post": {
        "tags": [
          "Status Lists"
        ],
        "summary": "Check a StatusList2021 or BitstringStatusList index for a given Verifiable Credential.",
        "description": "This endpoint checks a StatusList2021 or BitstringStatusList index for a given Verifiable Credential and reports whether it is revoked or suspended. It offers a standalone method for checking an index without passing the entire Verifiable Credential or Verifiable Presentation.",
        "parameters": [
          {
            "in": "query",
            "name": "listType",
            "description": "The type of Status List.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "StatusList2021",
                "BitstringStatusList"
              ]
            }
          },
          {
            "in": "query",
            "name": "statusPurpose",
            "description": "The purpose of the status list. Can be either revocation or suspension.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "revocation",
                "suspension",
                "message",
                "refresh"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CredentialStatusCheckRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CredentialStatusCheckRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialStatusCheckResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/schemas/InternalError"
          }
        }
      }
    },
    "/credential-status/search": {
      "get": {
        "tags": [
          "Status Lists"
        ],
        "summary": "Fetch StatusList2021 or BitstringStatusList DID-Linked Resource based on search criteria.",
        "parameters": [
          {
            "in": "query",
            "name": "did",
            "description": "The DID of the issuer of the status list.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "listType",
            "description": "The type of Status List.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "StatusList2021",
                "BitstringStatusList"
              ]
            }
          },
          {
            "in": "query",
            "name": "statusPurpose",
            "description": "The purpose of the status list. Can be either revocation or suspension.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "revocation",
                "suspension"
              ]
            }
          },
          {
            "in": "query",
            "name": "statusListName",
            "description": "The name of the Status List DID-Linked Resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialStatusListSearchResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/schemas/InternalError"
          }
        }
      }
    },
    "/credential-status/list": {
      "get": {
        "tags": [
          "Status Lists"
        ],
        "summary": "List StatusList2021 or BitstringStatusList DID-Linked Resources created by the customer.",
        "parameters": [
          {
            "in": "query",
            "name": "did",
            "description": "The DID of the issuer of the status list.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "listType",
            "description": "The type of Status List.",
            "schema": {
              "type": "string",
              "enum": [
                "StatusList2021",
                "BitstringStatusList"
              ]
            }
          },
          {
            "in": "query",
            "name": "statusListName",
            "description": "The name of the Status List DID-Linked Resource.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "state",
            "description": "The state of the Status List DID-Linked Resource.",
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE",
                "STANDBY",
                "FULL"
              ]
            }
          },
          {
            "in": "query",
            "name": "credentialCategory",
            "description": "Filter status lists by credential category assigned for.",
            "schema": {
              "type": "string",
              "enum": [
                "credential",
                "accreditation"
              ]
            }
          },
          {
            "in": "query",
            "name": "deprecated",
            "description": "Filter status lists by deprecated status.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCredentialStatusRecordsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/schemas/InternalError"
          }
        }
      }
    },
    "/credential-status/list/{statusListId}": {
      "get": {
        "tags": [
          "Status Lists"
        ],
        "summary": "Fetch StatusList2021 or BitstringStatusList DID-Linked Resource based on search criteria.",
        "parameters": [
          {
            "in": "path",
            "name": "statusListId",
            "description": "The statusListId of the status list.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialStatusRecordResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/schemas/InternalError"
          }
        }
      }
    },
    "/credential/issue": {
      "post": {
        "tags": [
          "Verifiable Credentials"
        ],
        "summary": "Issue a Verifiable Credential",
        "description": "This endpoint issues a Verifiable Credential. As input it takes the list of issuerDid, subjectDid, attributes, and other parameters of the credential to be issued.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CredentialRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CredentialRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Credential"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/schemas/InternalError"
          }
        }
      }
    },
    "/credential/verify": {
      "post": {
        "tags": [
          "Verifiable Credentials"
        ],
        "summary": "Verify a Verifiable Credential.",
        "description": "This endpoint verifies a Verifiable Credential passed to it. As input, it can take the VC-JWT as a string or the entire credential itself.",
        "operationId": "verify",
        "parameters": [
          {
            "in": "query",
            "name": "verifyStatus",
            "description": "If set to `true` the verification will also check the status of the credential. Requires the VC to have a `credentialStatus` property.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "fetchRemoteContexts",
            "description": "When dealing with JSON-LD you also MUST provide the proper contexts. Set this to `true` ONLY if you want the `@context` URLs to be fetched in case they are a custom context.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "allowDeactivatedDid",
            "description": "If set to `true` allow to verify credential which based on deactivated DID.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CredentialVerifyRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CredentialVerifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyCredentialResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/schemas/InternalError"
          }
        }
      }
    },
    "/credential/revoke": {
      "post": {
        "tags": [
          "Verifiable Credentials"
        ],
        "summary": "Revoke a Verifiable Credential.",
        "description": "This endpoint revokes a given Verifiable Credential. As input, it can take the VC-JWT as a string or the entire credential itself. The StatusList2021 or BitstringStatusList resource should already be setup in the VC and `credentialStatus` property present in the VC.",
        "operationId": "revoke",
        "parameters": [
          {
            "in": "query",
            "name": "listType",
            "description": "The type of Status List.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "StatusList2021",
                "BitstringStatusList"
              ]
            }
          },
          {
            "in": "query",
            "name": "publish",
            "description": "Set whether the StatusList2021 or BitstringStatusList resource should be published to the ledger or not. If set to `false`, the StatusList2021 or BitstringStatusList publisher should manually publish the resource.",
            "required": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CredentialRevokeRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CredentialRevokeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevocationResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/schemas/InternalError"
          }
        }
      }
    },
    "/credential/suspend": {
      "post": {
        "tags": [
          "Verifiable Credentials"
        ],
        "summary": "Suspend a Verifiable Credential.",
        "description": "This endpoint suspends a given Verifiable Credential.  As input, it can take the VC-JWT as a string or the entire credential itself.",
        "operationId": "suspend",
        "parameters": [
          {
            "in": "query",
            "name": "listType",
            "description": "The type of Status List.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "StatusList2021",
                "BitstringStatusList"
              ]
            }
          },
          {
            "in": "query",
            "name": "publish",
            "description": "Set whether the StatusList2021 or BitstringStatusList resource should be published to the ledger or not. If set to `false`, the StatusList2021 or BitstringStatusList publisher should manually publish the resource.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CredentialRevokeRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CredentialRevokeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuspensionResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/schemas/InternalError"
          }
        }
      }
    },
    "/credential/reinstate": {
      "post": {
        "tags": [
          "Verifiable Credentials"
        ],
        "summary": "Reinstate a suspended Verifiable Credential.",
        "description": "Set whether the StatusList2021 or BitstringStatusList resource should be published to the ledger or not. If set to `false`, the StatusList2021 or BitstringStatusList publisher should manually publish the resource.",
        "operationId": "reinstate",
        "parameters": [
          {
            "in": "query",
            "name": "listType",
            "description": "The type of Status List.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "StatusList2021",
                "BitstringStatusList"
              ]
            }
          },
          {
            "in": "query",
            "name": "publish",
            "description": "Set whether the StatusList2021 or BitstringStatusList resource should be published to the ledger or not. If set to `false`, the StatusList2021 or BitstringStatusList publisher should manually publish the resource.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CredentialRevokeRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CredentialRevokeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsuspensionResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/schemas/InternalError"
          }
        }
      }
    },
    "/credentials/issued": {
      "get": {
        "tags": [
          "Verifiable Credentials"
        ],
        "summary": "List credentials issued from an associated account.",
        "description": "This endpoint returns the list of issued credentials controlled by the account. It provides a unified view across all providers with filtering and pagination.",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page number for pagination.",
            "schema": {
              "type": "number",
              "default": 1
            },
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Number of items per page.",
            "schema": {
              "type": "number",
              "default": 10
            },
            "required": false
          },
          {
            "in": "query",
            "name": "providerId",
            "description": "Filter credentials by provider ID (e.g., 'studio', 'dock').",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "issuerId",
            "description": "Filter credentials by issuer DID or ID.",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "subjectId",
            "description": "Filter credentials by subject DID or ID.",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "status",
            "description": "Filter credentials by status.",
            "schema": {
              "type": "string",
              "enum": [
                "issued",
                "suspended",
                "revoked"
              ]
            },
            "required": false
          },
          {
            "in": "query",
            "name": "format",
            "description": "Filter credentials by format.",
            "schema": {
              "type": "string",
              "enum": [
                "jwt",
                "jsonld",
                "sd-jwt-vc",
                "anoncreds"
              ]
            },
            "required": false
          },
          {
            "in": "query",
            "name": "category",
            "description": "Filter credentials by category.",
            "schema": {
              "type": "string",
              "enum": [
                "credential",
                "accreditation"
              ]
            },
            "required": false
          },
          {
            "in": "query",
            "name": "createdAt",
            "description": "Filter credentials created before or on this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "credentialType",
            "description": "Filter credentials by type (e.g., 'VerifiableCredential', 'UniversityDegreeCredential').",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCredentialResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/schemas/InternalError"
          }
        }
      }
    },
    "/credentials/issued/{id}": {
      "get": {
        "tags": [
          "Verifiable Credentials"
        ],
        "summary": "Get a single issued credential by ID.",
        "description": "This endpoint retrieves a single issued credential using multi-strategy lookup. It can search by UUID (issuedCredentialId) or provider-specific credential ID (providerCredentialId).",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Credential identifier (UUID or provider-specific ID).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "includeCredential",
            "description": "If true, fetch and include the full credential payload from the provider.",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "required": false
          },
          {
            "in": "query",
            "name": "syncStatus",
            "description": "If true, synchronize credential status from the provider API before returning.",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "required": false
          },
          {
            "in": "query",
            "name": "providerId",
            "description": "Provider hint to optimize lookup when using provider-specific credential ID.",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssuedCredentialResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "404": {
            "description": "Credential not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/InternalError"
          }
        }
      },
      "put": {
        "tags": [
          "Verifiable Credentials"
        ],
        "summary": "Update an issued credential metadata.",
        "description": "This endpoint updates metadata for an issued credential. It allows updating providerCredentialId, status, and providerMetadata fields.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Credential identifier (issuedCredentialId).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "providerCredentialId": {
                    "type": "string",
                    "description": "Provider-specific credential ID (e.g., resource ID for studio provider)."
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "issued",
                      "suspended",
                      "revoked"
                    ],
                    "description": "Credential status."
                  },
                  "providerMetadata": {
                    "type": "object",
                    "description": "Additional provider-specific metadata."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/IssuedCredentialResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "404": {
            "description": "Credential not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/InternalError"
          }
        }
      }
    },
    "/did/create": {
      "post": {
        "tags": [
          "Decentralized Identifiers (DIDs)"
        ],
        "summary": "Create a DID Document.",
        "description": "This endpoint creates a DID and associated DID Document. As input, it can take the DID Document parameters via a form, or the fully-assembled DID Document itself.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/DidCreateRequestFormBased"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DidCreateRequestJson"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DidResult"
                }
              }
            }
          },
          "400": {
            "description": "A problem with the input fields has occurred. Additional state information plus metadata may be available in the response body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequest"
                },
                "example": {
                  "error": "InvalidRequest"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "description": "An internal error has occurred. Additional state information plus metadata may be available in the response body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequest"
                },
                "example": {
                  "error": "Internal Error"
                }
              }
            }
          }
        }
      }
    },
    "/did/update": {
      "post": {
        "tags": [
          "Decentralized Identifiers (DIDs)"
        ],
        "summary": "Update a DID Document.",
        "description": "This endpoint updates a DID Document. As an input, it can take JUST the sections/parameters that need to be updated in the DID Document (in this scenario, it fetches the current DID Document and applies the updated section). Alternatively, it take the fully-assembled DID Document with updated sections as well as unchanged sections.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/DidUpdateRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DidUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DidUpdateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/schemas/InternalError"
          }
        }
      }
    },
    "/did/import": {
      "post": {
        "tags": [
          "Decentralized Identifiers (DIDs)"
        ],
        "summary": "Import a DID Document.",
        "description": "This endpoint imports a decentralized identifier associated with the user's account for custodian-mode clients.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/DidImportRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DidImportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DidResult"
                }
              }
            }
          },
          "400": {
            "description": "A problem with the input fields has occurred. Additional state information plus metadata may be available in the response body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequest"
                },
                "example": {
                  "error": "InvalidRequest"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "description": "An internal error has occurred. Additional state information plus metadata may be available in the response body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequest"
                },
                "example": {
                  "error": "Internal Error"
                }
              }
            }
          }
        }
      }
    },
    "/did/deactivate/{did}": {
      "post": {
        "tags": [
          "Decentralized Identifiers (DIDs)"
        ],
        "summary": "Deactivate a DID Document.",
        "description": "This endpoint deactivates a DID Document by taking the DID identifier as input. Must be called and signed by the DID owner.",
        "parameters": [
          {
            "in": "path",
            "name": "did",
            "description": "DID identifier to deactivate.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/DidDeactivateRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DidDeactivateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeactivatedDidResolution"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/schemas/InternalError"
          }
        }
      }
    },
    "/did/list": {
      "get": {
        "tags": [
          "Decentralized Identifiers (DIDs)"
        ],
        "summary": "Fetch DIDs associated with an account.",
        "description": "This endpoint returns the list of DIDs controlled by the account.",
        "parameters": [
          {
            "in": "query",
            "name": "network",
            "description": "Filter DID by the network published.",
            "schema": {
              "type": "string",
              "enum": [
                "mainnet",
                "testnet"
              ]
            },
            "required": false
          },
          {
            "in": "query",
            "name": "providerId",
            "description": "Filter DID by the provider.",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "metadata",
            "description": "Include metadata in response.",
            "schema": {
              "type": "boolean"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "createdAt",
            "description": "Filter resource by created date",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number.",
            "schema": {
              "type": "number"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Number of items to be listed in a single page.",
            "schema": {
              "type": "number"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDidResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/schemas/InternalError"
          }
        }
      }
    },
    "/did/search/{did}": {
      "get": {
        "tags": [
          "Decentralized Identifiers (DIDs)"
        ],
        "summary": "Resolve a DID Document.",
        "description": "Resolve a DID Document by DID identifier. Also supports DID Resolution Queries as defined in the <a href=\"https://w3c-ccg.github.io/did-resolution/\">W3C DID Resolution specification</a>.",
        "parameters": [
          {
            "in": "path",
            "name": "did",
            "description": "DID identifier to resolve.",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "did:cheqd:mainnet:7bf81a20-633c-4cc7-bc4a-5a45801005e0"
          },
          {
            "in": "query",
            "name": "metadata",
            "description": "Return only metadata of DID Document instead of actual DID Document.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "versionId",
            "description": "Unique UUID version identifier of DID Document. Allows for fetching a specific version of the DID Document. See <a href=\"https://docs.cheqd.io/identity/architecture/adr-list/adr-001-cheqd-did-method#did-document-metadata\">cheqd DID Method Specification</a> for more details.",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "3ccde6ba-6ba5-56f2-9f4f-8825561a9860"
          },
          {
            "in": "query",
            "name": "versionTime",
            "description": "Returns the closest version of the DID Document *at* or *before* specified time. See <a href=\"https://docs.cheqd.io/identity/architecture/adr-list/adr-005-did-resolution-and-did-url-dereferencing\">DID Resolution handling for `did:cheqd`</a> for more details.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "1970-01-01T00:00:00Z"
          },
          {
            "in": "query",
            "name": "transformKeys",
            "description": "This directive transforms the Verification Method key format from the version in the DID Document to the specified format chosen below.",
            "schema": {
              "type": "string",
              "enum": [
                "Ed25519VerificationKey2018",
                "Ed25519VerificationKey2020",
                "JsonWebKey2020"
              ]
            }
          },
          {
            "in": "query",
            "name": "service",
            "description": "Query DID Document for a specific Service Endpoint by Service ID (e.g., `service-1` in `did:cheqd:mainnet:7bf81a20-633c-4cc7-bc4a-5a45801005e0#service-1`). This will typically redirect to the Service Endpoint based on <a href=\"https://w3c-ccg.github.io/did-resolution/#dereferencing\">DID Resolution specification</a> algorithm.",
            "schema": {
              "type": "string"
            },
            "example": "service-1"
          },
          {
            "in": "query",
            "name": "relativeRef",
            "description": "Relative reference is a query fragment appended to the Service Endpoint URL. **Must** be used along with the `service` query property above. See <a href=\"https://w3c-ccg.github.io/did-resolution/#dereferencing\">DID Resolution specification</a> algorithm for more details.",
            "schema": {
              "type": "string"
            },
            "example": "/path/to/file"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DidResolution"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/schemas/InternalError"
          }
        }
      }
    },
    "/did/export/{did}": {
      "post": {
        "tags": [
          "Decentralized Identifiers (DIDs)"
        ],
        "summary": "Export a DID Document.",
        "description": "This endpoint exports a decentralized identifier associated with the user's account with the custodied keys.",
        "parameters": [
          {
            "in": "path",
            "name": "did",
            "description": "DID identifier to resolve.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string",
                    "required": false
                  },
                  "providerId": {
                    "type": "string",
                    "required": false
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string",
                    "required": false
                  },
                  "providerId": {
                    "type": "string",
                    "required": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportDidResult"
                }
              }
            }
          },
          "400": {
            "description": "A problem with the input fields has occurred. Additional state information plus metadata may be available in the response body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequest"
                },
                "example": {
                  "error": "InvalidRequest"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "description": "An internal error has occurred. Additional state information plus metadata may be available in the response body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequest"
                },
                "example": {
                  "error": "Internal Error"
                }
              }
            }
          }
        }
      }
    },
    "/key/create": {
      "post": {
        "tags": [
          "Keys"
        ],
        "summary": "Create an identity key pair.",
        "description": "This endpoint creates an identity key pair associated with the user's account for custodian-mode clients.",
        "parameters": [
          {
            "name": "type",
            "description": "Key type of the identity key pair to create.",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "Ed25519",
                "Secp256k1"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyResult"
                }
              }
            }
          },
          "400": {
            "description": "A problem with the input fields has occurred. Additional state information plus metadata may be available in the response body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequest"
                },
                "example": {
                  "error": "InvalidRequest"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "description": "An internal error has occurred. Additional state information plus metadata may be available in the response body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequest"
                },
                "example": {
                  "error": "Internal Error"
                }
              }
            }
          }
        }
      }
    },
    "/key/import": {
      "post": {
        "tags": [
          "Keys"
        ],
        "summary": "Import an identity key pair.",
        "description": "This endpoint imports an identity key pair associated with the user's account for custodian-mode clients.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/KeyImportRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeyImportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyResult"
                }
              }
            }
          },
          "400": {
            "description": "A problem with the input fields has occurred. Additional state information plus metadata may be available in the response body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequest"
                },
                "example": {
                  "error": "InvalidRequest"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "description": "An internal error has occurred. Additional state information plus metadata may be available in the response body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequest"
                },
                "example": {
                  "error": "Internal Error"
                }
              }
            }
          }
        }
      }
    },
    "/key/read/{kid}": {
      "get": {
        "tags": [
          "Keys"
        ],
        "summary": "Fetch an identity key pair.",
        "description": "This endpoint fetches an identity key pair's details for a given key ID. Only the user account associated with the custodian-mode client can fetch the key pair.",
        "parameters": [
          {
            "name": "kid",
            "description": "Key ID of the identity key pair to fetch.",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyResult"
                }
              }
            }
          },
          "400": {
            "description": "A problem with the input fields has occurred. Additional state information plus metadata may be available in the response body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequest"
                },
                "example": {
                  "error": "InvalidRequest"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "description": "An internal error has occurred. Additional state information plus metadata may be available in the response body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequest"
                },
                "example": {
                  "error": "Internal Error"
                }
              }
            }
          }
        }
      }
    },
    "/event/list": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "Fetch Credential event's triggered by the user.",
        "description": "This endpoint returns the list of Credential Events controlled by the account.",
        "parameters": [
          {
            "in": "query",
            "name": "network",
            "description": "Filter events by the network published.",
            "schema": {
              "type": "string",
              "enum": [
                "mainnet",
                "testnet"
              ]
            },
            "required": false
          },
          {
            "in": "query",
            "name": "category",
            "description": "Filter events by the category.",
            "schema": {
              "type": "string",
              "enum": [
                "did",
                "resource",
                "credential",
                "credential-status",
                "presentation"
              ]
            },
            "required": false
          },
          {
            "in": "query",
            "name": "name",
            "description": "Filter events by the name.",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "deprecated",
            "description": "Filter events by the deprecated type",
            "schema": {
              "type": "boolean"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "successful",
            "description": "Filter events by the status",
            "schema": {
              "type": "boolean"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "createdAt",
            "description": "Filter resource by created date",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number.",
            "schema": {
              "type": "number"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Number of items to be listed in a single page.",
            "schema": {
              "type": "number"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResourceResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/schemas/InternalError"
          }
        }
      }
    },
    "/presentation/create": {
      "post": {
        "tags": [
          "Verifiable Presentations"
        ],
        "summary": "!!! WARN. Such endpoint is made mostly for testing purposes and it is not supposed to be used in production !!! Create a Verifiable Presentation from credential(s).",
        "description": "This endpoint creates a Verifiable Presentation from credential(s). As input, it can take the credential(s) as a string or the entire credential(s) itself. \n !!! WARN. Such endpoint is made only for testing purposes !!!",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PresentationCreateRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PresentationCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PresentationCreateResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/schemas/InternalError"
          }
        }
      }
    },
    "/presentation/verify": {
      "post": {
        "tags": [
          "Verifiable Presentations"
        ],
        "summary": "Verify a Verifiable Presentation generated from credential(s).",
        "description": "This endpoint verifies the Verifiable Presentation generated from credential(s). As input, it can take the Verifiable Presentation JWT as a string or the entire Verifiable Presentation itself.",
        "parameters": [
          {
            "in": "query",
            "name": "verifyStatus",
            "description": "If set to `true` the verification will also check the status of the presentation. Requires the VP to have a `credentialStatus` property.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "fetchRemoteContexts",
            "description": "When dealing with JSON-LD you also MUST provide the proper contexts. * Set this to `true` ONLY if you want the `@context` URLs to be fetched in case they are a custom context.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "allowDeactivatedDid",
            "description": "If set to `true` allow to verify credential which based on deactivated DID.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PresentationVerifyRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PresentationVerifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyPresentationResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/schemas/InternalError"
          }
        }
      }
    },
    "/providers": {
      "get": {
        "tags": [
          "Providers"
        ],
        "summary": "Get all available credential providers",
        "description": "Returns list of available credential providers",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "providers": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/providers/activated": {
      "get": {
        "tags": [
          "Providers"
        ],
        "summary": "Get customer's activated providers",
        "description": "Returns list of providers activated by the customer",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/providers/{providerId}/configuration": {
      "get": {
        "tags": [
          "Providers"
        ],
        "summary": "Get provider configuration",
        "parameters": [
          {
            "name": "providerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Provider configuration"
          }
        }
      },
      "put": {
        "tags": [
          "Providers"
        ],
        "summary": "Update provider configuration",
        "parameters": [
          {
            "name": "providerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "apiEndpoint": {
                    "type": "string",
                    "format": "uri",
                    "description": "API endpoint URL"
                  },
                  "webhookUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "Webhook URL for notifications"
                  },
                  "defaultSettings": {
                    "type": "object",
                    "description": "Provider-specific default settings"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Configuration updated successfully"
          },
          "400": {
            "description": "Invalid configuration data"
          },
          "404": {
            "description": "Provider configuration not found"
          }
        }
      }
    },
    "/providers/{providerId}/activate": {
      "post": {
        "tags": [
          "Providers"
        ],
        "summary": "Activate a provider for the customer",
        "parameters": [
          {
            "name": "providerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Provider activated successfully"
          },
          "400": {
            "description": "Invalid provider or already activated"
          },
          "404": {
            "description": "Provider not found"
          }
        }
      }
    },
    "/providers/{providerId}/test": {
      "post": {
        "tags": [
          "Providers"
        ],
        "summary": "Test connection to a provider",
        "parameters": [
          {
            "name": "providerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "newAPIUrl",
            "in": "query",
            "required": false,
            "default": null,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Connection test completed"
          },
          "400": {
            "description": "Connection test failed"
          },
          "404": {
            "description": "Provider configuration not found"
          }
        }
      }
    },
    "/providers/{providerId}": {
      "delete": {
        "tags": [
          "Providers"
        ],
        "summary": "Remove provider configuration",
        "parameters": [
          {
            "name": "providerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Configuration removed successfully"
          }
        }
      }
    },
    "/providers/{providerId}/did/import": {
      "post": {
        "tags": [
          "Providers"
        ],
        "summary": "Import a DID into a Provider.",
        "description": "This endpoint imports a decentralized identifier associated with the user's account with the custodied keys into a provider.",
        "parameters": [
          {
            "name": "providerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "did"
                ],
                "properties": {
                  "did": {
                    "description": "DID identifier to resolve.",
                    "type": "string"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "did"
                ],
                "properties": {
                  "did": {
                    "description": "DID identifier to resolve.",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DidResult"
                }
              }
            }
          },
          "400": {
            "description": "A problem with the input fields has occurred. Additional state information plus metadata may be available in the response body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequest"
                },
                "example": {
                  "error": "InvalidRequest"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "description": "An internal error has occurred. Additional state information plus metadata may be available in the response body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidRequest"
                },
                "example": {
                  "error": "Internal Error"
                }
              }
            }
          }
        }
      }
    },
    "/resource/create/{did}": {
      "post": {
        "tags": [
          "DID-Linked Resources (DLRs)"
        ],
        "summary": "Create a DID-Linked Resource.",
        "description": "This endpoint creates a DID-Linked Resource. As input, it can take the DID identifier and the resource parameters via a form, or the fully-assembled resource itself.",
        "parameters": [
          {
            "in": "path",
            "name": "did",
            "description": "DID identifier to link the resource to.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CreateResourceRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateResourceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceMetadata"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/InvalidRequest"
          },
          "401": {
            "$ref": "#/components/schemas/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/schemas/InternalError"
          }
        }
      }
    },
    "/resource/search/{did}": {
      "get": {
        "tags": [
          "DID-Linked Resources (DLRs)"
        ],
        "summary": "Get a DID-Linked Resource.",
        "description": "This endpoint returns the DID-Linked Resource for a given DID identifier and resource identifier.",
        "parameters": [
          {
            "in": "path",
            "name": "did",
            "description": "DID identifier",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "did:cheqd:mainnet:7bf81a20-633c-4cc7-bc4a-5a45801005e0"
          },
          {
            "in": "query",
            "name": "resourceId",
            "description": "Fetch a DID-Linked Resource by Resource ID unique identifier. Since this is a unique identifier, other Resource query parameters are not required. See <a href=\"https://docs.cheqd.io/identity/credential-service/did-linked-resources/understanding-dlrs/technical-composition\">DID-Linked Resources</a> for more details.",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "3ccde6ba-6ba5-56f2-9f4f-8825561a9860"
          },
          {
            "in": "query",
            "name": "resourceName",
            "description": "Filter a DID-Linked Resource query by Resource Name. See <a href=\"https://docs.cheqd.io/identity/credential-service/did-linked-resources/understanding-dlrs/technical-composition\">DID-Linked Resources</a> for more details.",
            "schema": {
              "type": "string"
            },
            "example": "cheqd-issuer-logo"
          },
          {
            "in": "query",
            "name": "resourceType",
            "description": "Filter a DID-Linked Resource query by Resource Type. See <a href=\"https://docs.cheqd.io/identity/credential-service/did-linked-resources/understanding-dlrs/technical-composition\">DID-Linked Resources</a> for more details.",
            "schema": {
              "type": "string"
            },
            "example": "CredentialArtwork"
          },
          {
            "in": "query",
            "name": "resourceVersion",
            "description": "Filter a DID-Linked Resource query by Resource Version, which is an optional free-text field used by issuers (e.g., \"v1\", \"Final Version\", \"1st January 1970\" etc). See <a href=\"https://docs.cheqd.io/identity/credential-service/did-linked-resources/understanding-dlrs/technical-composition\">DID-Linked Resources</a> for more details.",
            "schema": {
              "type": "string"
            },
            "example": "v1"
          },
          {
            "in": "query",
            "name": "resourceVersionTime",
            "description": "Filter a DID-Linked Resource query which returns the closest version of the Resource *at* or *before* specified time. See <a href=\"https://docs.cheqd.io/identity/credential-service/did-linked-resources/understanding-dlrs/technical-composition\">DID-Linked Resources</a> for more details.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "1970-01-01T00:00:00Z"
          },
          {
[...]
