name: 'Lint'
on: workflow_call
defaults:
    run:
        shell: bash

jobs:
    # TODO: Taking 40m fix in a separate PR
    # md-link-check:
    #     name: 'Broken Markdown links'
    #     runs-on: ubuntu-latest

    #     steps:
    #         - uses: actions/checkout@v4

    #         - name: Run Markdown link check
    #           uses: gaurav-nelson/github-action-markdown-link-check@v1
    #           with:
    #               config-file: '.github/linters/mlc_config.json'
    #               use-quiet-mode: 'yes'

    super-lint:
        name: 'Super Linter'
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0 # Required to fetch version

            - name: Run Super Linter
              uses: super-linter/super-linter/slim@v8
              env:
                  IGNORE_GITIGNORED_FILES: true
                  DEFAULT_BRANCH: main
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  LOG_LEVEL: WARN
                  VALIDATE_ALL_CODEBASE: true
                  MULTI_STATUS: true

                  VALIDATE_GITHUB_ACTIONS: true
                  VALIDATE_JAVASCRIPT_ES: true
                  VALIDATE_JSONC: true
                  VALIDATE_JSX: true
                  VALIDATE_MARKDOWN: true
                  VALIDATE_OPENAPI: true
                  VALIDATE_TYPESCRIPT_ES: true
                  VALIDATE_YAML: true
